.navbar {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    /* height: 80px; */
    width: 100vw;
    padding: 20px 200px;
    /* background-color: #282828; */
}

.logo > img {
    width: 300px;
    height: auto;
}

.hamburger-container {
    width: 50px;
    height: 50px;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    /* margin: auto; */
    cursor: pointer;
    transform: scale(0.8);
}

.stick {
    width: 80px;
    height: 8px;
    border-radius: 4px;
    margin-bottom: 15px;
    background-color: #2dfdb9;
    display: inline-block;
}

.stick:last-child {
    margin-bottom: 0px;
}

.stick-1.open {
    animation: stick-1-open .8s ease-out forwards;
}

.stick-2.open {
    animation: stick-2-open 1s linear forwards;
}
  
.stick-3.open {
    animation: stick-3-open 1s linear forwards;
}
  
.stick-1.close {
    width: 8px; 
    transform: translate(27px, 26px);
    animation: stick-1-close .8s ease-out forwards;
}
  
.stick-2.close {
    transform: translate(0px, 0px) rotate(40deg);
    animation: stick-2-close 1s ease-out forwards;
}
  
.stick-3.close {
    transform: translate(0px, -23px) rotate(-40deg);
    animation: stick-3-close 1s ease-out forwards;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    clip-path: circle(600px at 10% 20%);
    background-color: #ff8002;
    width: 100vh;
    height: 100vh;
    box-sizing: border-box;
    padding: 50px 40px;
    text-align: center;
    /* transition: all .8s ease-in-out; */
    /* transition: stick-1-open, stick-2-open, stick-3-open, stick-1-close, stick-2-close, stick-3-close 1s ease-out forwards; */
    z-index: 4;
    /* animation: close-circle 1s ease-in-out forwards; */
}

.sidebar.inactive {
    animation: close-circle 1s ease-in-out forwards;
}

.sidebar.active {
    left: 0;
    visibility: visible;
    animation: open-circle 0.4s ease-in-out forwards;
}

.sidebar > ul {
    list-style: none;
    background-color: #ff8002;
}

.sidebar > ul.menu {
    position: relative;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.sidebar > ul.menu > li {
    list-style: none;
}

.sidebar > ul.menu > li > a {
    background-color: #ff8002;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    padding: 15px 0;
    box-sizing: border-box;
    font-size: 2rem;
    transition: all 250ms ease-in-out;
}

.sidebar > ul.menu > li > a:hover {
    padding-left: 25px;
}

@keyframes stick-1-open {
    0%   {width: 80px;}
    40%  {background-color: #ff8002; width: 8px; transform: translate(40px, 0px);}
    75%, 80%  {width: 8px; transform: translate(40px, -50px); animation-timing-function: cubic-bezier(0,1,1,1);}
    100% {background-color: #ff8002; width: 0px; transform: translate(35px, 45px);}
}
  
@keyframes stick-2-open {
    80%  {background-color: #2dfdb9; transform: translate(0px, 0px) rotate(0deg);}
    100% {background-color: #ff8002; transform: translate(8px, 0px) rotate(40deg);}
}
  
@keyframes stick-3-open {
    80%  {background-color: #2dfdb9; transform: translate(0px, 0px) rotate(0deg);}
    100% {background-color: #ff8002; transform: translate(8px, -23px) rotate(-40deg);}
}

@keyframes stick-1-close {
    0%, 70% {width: 0px;}
    100%    {width: 80px; transform: translate(0, 0);}
}
  
@keyframes stick-2-close {
    0%   {background-color: #ff8002; width: 80px;}
    20%  {background-color: #ff8002; width: 8px; transform: translate(0, 0px) rotate(40deg);}
    40%  {background-color: #2dfdb9; width: 0px;}
    65%  {transform: translate(0, -70px); animation-timing-function: cubic-bezier(0,1,1,1);}
    80%  {width: 0px;}
    100% {width: 80px; transform: translate(0, 0px);}
}
  
@keyframes stick-3-close {
    0%   {background-color: #ff8002; width: 80px;}
    20%  {background-color: #ff8002; width: 8px; transform: translate(0, -23px) rotate(-40deg);}
    40%  {background-color: #2dfdb9;}
    65%  {transform: translate(0, -93px); animation-timing-function: cubic-bezier(0,1,1,1);}
    90%  {width: 8px;}
    100% {width: 80px; transform: translate(0, 0px);}
}

@keyframes open-circle {
    0%   {clip-path: circle(0px at 0% 0%);}
    100% {clip-path: circle(600px at 10% 20%);}
}

@keyframes close-circle {
    0%   {clip-path: circle(600px at 10% 20%);}
    100% {clip-path: circle(0px at 0% 0%);}
}